@inherits LayoutComponentBase

<div class="page">
    <main>
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="exception">
                <div class="error-container">
                    <h1>Error</h1>
                    <p>An error has occurred while loading this component:</p>
                    <p>@exception.Message</p>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>
